*{ margin: 0; padding: 0;}
li{ list-style: none;}
a{ text-decoration: none; color: #222;}
input[type="checkbox"]{ display: none;}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eac0aa+0,d2c0ac+7,2fbdb9+50,1a989d+70,023545+100 */
    background: #eac0aa; /* Old browsers */
    background: -moz-linear-gradient(left, #eac0aa 0%, #d2c0ac 7%, #2fbdb9 50%, #1a989d 70%, #023545 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eac0aa 0%,#d2c0ac 7%,#2fbdb9 50%,#1a989d 70%,#023545 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eac0aa 0%,#d2c0ac 7%,#2fbdb9 50%,#1a989d 70%,#023545 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eac0aa', endColorstr='#023545',GradientType=1 ); /* IE6-9 */
}
header > nav{
    align-self: center;
    width: 10%;
}
header > nav ul li a{
    display: block;
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    margin: 10px 0;
    margin-left: 5px;
    width: 160px;
    position: relative;
    border: 3px solid transparent;
}
header > nav ul li a span{
    display: block;
}
.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    transform: translate3d(0,0.7em,0);
    transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
}
.navi:before{
    position: absolute;
    content: "";
    left: -10px;
    right: 100%;
    height: 3px;
    background: white;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
      right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
      left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
    transform-origin: left;
}
.line{
    background: white;
    position: absolute;
}
.-right, .-left{
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1,0,1);
}
.-top, .-bottom{
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0,1,1);
}
.-right{
    right: -3px;
    transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
    transform-origin: top;
}
.-top{
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.-left{
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.-bottom{
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
    transform-origin: right;
}
header > nav ul li a:hover .navi{
    transform: translate3d(0,0,0);
    transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
}
header > nav ul li a:hover .navi:before{
    transform: scale3d(0,1,1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
      right 0.2s cubic-bezier(1,0,.65,1.01),
      left 0s 0.3s;
}
header > nav ul li a:hover .line{
    transform: scale3d(1,1,1);
}
header > nav ul li a:hover .-right{
    transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
    transform-origin: bottom;
}
header > nav ul li a:hover .-top{
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
header > nav ul li a:hover .-left{
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
header > nav ul li a:hover .-bottom{
    transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
    transform-origin: left;
}
.nv{
    width: 50px;
    height: 50px;
}
.-icon1{
    background: url(images/macbook_dark_large.svg) no-repeat center center / contain;
}
.-icon2{
    background: url(images/ipad_large.svg) no-repeat center center / contain;
}
.-icon3{
    background: url(images/iphone7_dark_large.svg) no-repeat center center / contain;
}
.-icon4{
    background: url(images/watch_nav_series_2_large.svg) no-repeat center center / contain;
}
.-icon5{
    background: url(images/apple_music_dark_large.svg) no-repeat center center / contain;
}
.-icon6{
    background: url(images/large-promo-repair-icon_2x.svg) no-repeat center center / contain;
}
.-icon7{
    background: url(images/search_large.svg) no-repeat center center / contain;
}
.mainLogo{
    align-self: center;
    width: 80%;
    margin-top: -50px;
    display: flex;
    flex-flow: column;
}
.mlImage{
    display: block;
    width: 170px;
    height: 170px;
    margin: 10px auto;
    background: url(images/Apple_logo_white.png) no-repeat center center;
}
.mainLogo div{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.mltext{
    display: inline-block;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.different{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(255,255,255,.9);   
}
.different b{
    border-radius: 10px;
    animation: tGradation 10s linear infinite;
    background: linear-gradient(90deg, rgba(150,48,30,1) 0%,rgba(199,201,88,1) 10%,rgba(28,147,46,1) 20%,rgba(74,165,168,1) 30%,rgba(89,90,165,1) 40%,rgba(84,16,67,1) 50%,rgba(28,58,63,1) 60%,rgba(82,175,183,1) 70%,rgba(78,170,76,1) 80%,rgba(150,48,30,1) 90%,rgba(199,201,88,1) 100%);
    background-size: 1000% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes tGradation{
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
.bag{
    width: 10%;
}
.bagImage{
    float: right;
    width: 100px;
    height: 100px;
    background: url(images/shopping-bag.svg) no-repeat center center;
    background-size: 36px; 
    cursor: pointer;
}
    @media screen and (max-width: 768px) and (min-width: 413px){
        header > nav{
            width: 10vw;
            height: 100vh;
        }
        .menu-open-button{
            z-index: 11;
            position: absolute;
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            transition: transform ease-out 0.2s;
            cursor: pointer; 
        }
        .lines{
            position: absolute;
            top: 50%;
            left: 25%;
            width: 40px;
            height: 3px;
            background: #fff;
            display: block;
            transition: transform ease-out 0.2s;
        }
        .line-1{
            transform: translate(0,-12px);
        }
        .line-2{
            transform: translate(0,0);
        }
        .line-3{
            transform: translate(0,12px);
        }
        #mobileNav:checked ~ .menu-open-button .line-1{
            transform: translate(0,0) rotate(45deg); 
        }
        #mobileNav:checked ~ .menu-open-button .line-2{
            transform: translate(0,0) scale(.1,1); 
        }
        #mobileNav:checked ~ .menu-open-button .line-3{
            transform: translate(0,0) rotate(-45deg); 
        }
        header > nav ul{
            position: absolute;
            width: 0vw;
            height: 0vh;
            background: rgba(0,0,0,.7);
            z-index: 10;
            padding-top: 45px;
            padding-left: 20px;
            overflow: hidden;
            opacity: 0;
            transition: all 1s ease-in-out;
        }
        #mobileNav:checked ~ ul{
            opacity: 1;
            width: 50vw;
            height: 100vh;
            box-sizing: border-box;
        }
        header > nav ul li a{
            padding: 0;
            margin: 10px 0;
            margin-left: 5px;
            width: 40vw;
            border-bottom: 1px solid white;
        }
        .navi{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40vw;
            transform: none;
            transition: none;
        }
        .navi:before, .line, header > nav ul li a:hover .navi:before, header > nav ul li a:hover .line{
            display: none;
        }
        header > nav ul li a:hover .navi{
            transform: none;
            transition: none;
        }
        .nv{
            width: 40px;
            height: 40px;
        }
        .mlImage{
            width: 150px;
            height: 150px;
            background: url(images/Apple_logo_white.png) no-repeat center center / contain;
        }
        .mainLogo div{
            width: 50vw;
            text-align: center;
            margin: 0 auto;
        }
        .mltext{
            font-size: 10vw;
        }
        .bagImage{
            display: block;
            width: 80px;
            height: 80px;
            padding-right: 5px;
            background: url(images/shopping-bag.svg) no-repeat center center;
            background-size: 34px; 
            cursor: pointer;
        }
    }

    @media screen and (max-width: 412px){
        header > nav{
            width: 10vw;
            height: 100vh;
        }
        .menu-open-button{
            z-index: 11;
            position: absolute;
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            transition: transform ease-out 0.2s;
            cursor: pointer; 
        }
        .lines{
            position: absolute;
            top: 50%;
            left: 25%;
            width: 40px;
            height: 3px;
            background: #fff;
            display: block;
            transition: transform ease-out 0.2s;
        }
        .line-1{
            transform: translate(0,-12px);
        }
        .line-2{
            transform: translate(0,0);
        }
        .line-3{
            transform: translate(0,12px);
        }
        #mobileNav:checked ~ .menu-open-button .line-1{
            transform: translate(0,0) rotate(45deg); 
        }
        #mobileNav:checked ~ .menu-open-button .line-2{
            transform: translate(0,0) scale(.1,1); 
        }
        #mobileNav:checked ~ .menu-open-button .line-3{
            transform: translate(0,0) rotate(-45deg); 
        }
        header > nav ul{
            position: absolute;
            width: 0vw;
            height: 0vh;
            background: rgba(0,0,0,.7);
            z-index: 10;
            padding-top: 45px;
            padding-left: 20px;
            overflow: hidden;
            opacity: 0;
            transition: all 1s ease-in-out;
        }
        #mobileNav:checked ~ ul{
            opacity: 1;
            width: 70vw;
            height: 100vh;
            box-sizing: border-box;
        }
        header > nav ul li a{
            padding: 0;
            margin: 10px 0;
            margin-left: 5px;
            width: 60vw;
            border-bottom: 1px solid white;
        }
        .navi{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60vw;
            transform: none;
            transition: none;
        }
        .navi:before, .line, header > nav ul li a:hover .navi:before, header > nav ul li a:hover .line{
            display: none;
        }
        header > nav ul li a:hover .navi{
            transform: none;
            transition: none;
        }
        .nv{
            width: 40px;
            height: 40px;
        }
        .mlImage{
            width: 120px;
            height: 120px;
            background: url(images/Apple_logo_white.png) no-repeat center center / contain;
        }
        .mainLogo div{
            width: 50vw;
            text-align: center;
            margin: 0 auto;
        }
        .mltext{
            font-size: 10vw;
        }
        .bagImage{
            display: block;
            width: 80px;
            height: 80px;
            padding-right: 5px;
            background: url(images/shopping-bag.svg) no-repeat center center;
            background-size: 34px; 
            cursor: pointer;
        }
    }
#firstFloor{
    width: 100%;
    height: 100vh;
}
#firstFloor article{
    width: 50%;
    height: 50vh;
    float: left;
    overflow: hidden;
    position: relative;
}
#firstFloor article a{
    width: 100%;
    height: 50vh;
    float: left;
}
#leftTop{
    background: #f2f2f2;  
}
.lt{
    margin: 0 auto;
    left: 0;
    right: 0;
}
.topIpad{
    width: 50%;
    height: inherit;
    position: absolute;
    z-index: 10;
}
.botIpad{
    width: 50%;
    height: inherit;
    position: absolute;
}
#leftTop span{
    display: block;
    width: 100%;
    height: inherit;
    transition: all 1s ease-in-out;
}
.tpImage{
    background: url(images/apps_top_medium.png) no-repeat center center / contain;
    transform: translateX(-30%);
}
.bpImage{
    background: url(images/apps_medium.png) no-repeat center center / contain;
    transform: translateX(30%);
}
#leftTop:hover .tpImage{
    transform: translate(-200%);
}
#leftTop:hover .bpImage{
    transform: translate(200%);
}
.ltHoverI{
    background: url(images/hero_medium.jpg) no-repeat center center;
    background-color: rgba(255,255,255,.5);
    width: 100%;
    height: inherit;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
}
#leftTop:hover .ltHoverI{
    opacity: 1;
    transform: translateY(0);
}
.ltHoverT{
    text-align: center;
    padding-right: 300px;
    padding-bottom: 55px;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    transform: translateY(0%);
    transition: all 1s ease-in-out;
}
.ltHoverT span{
    display: block;
    font-size: 46px;
    font-weight: bold;
    
}
#leftTop:hover .ltHoverT{
    transform: translateY(-100%);
}
#rightTop{
}
.ios11T{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 6px 3px 8px #b3b3b3, 10px 15px 10px #f5f5f5;
    background-color: transparent;
    padding-top: 2%;
    opacity: 1;
    transition: all 1s ease-in-out;
}
#rightTop:hover .ios11T{
    text-shadow: none;
    top: 30%;
}
.ios11I{
    background: url(images/image_xlarge.jpg) no-repeat center center / cover;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    transform: translate(0,0) scale(1);
    transition: all 1s ease-in-out;
}
#rightTop:hover .ios11I{
    transform: translate(0,0) scale(2);
    opacity: .69;
}
.rtHoverT{
    position: absolute;top: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.step{
    z-index: 11;
    display: inline-block;
    background: url(images/step.gif) no-repeat center center / contain;
    width: 100px;
    height: 70px;
    margin-bottom: -25px;
}
.rtHoverT a, .rtHoverT ins{
    display: inline-block;
    font-size: 18px;
    color: #0070c9;
    width: 100%;
    padding-bottom: 20px;
}
#rightTop:hover .rtHoverT{
    top: 50%;
    opacity: 1;
}
#leftBottom{
    background: #1a1a1a;
}
.macI{
    position: absolute;
    bottom: 10px;
    background: url(images/179.png) no-repeat center center / contain;
    width: 100%;
    height: 90%;
    opacity: 1;
    transition: all 1s ease-in-out;
}
#leftBottom:hover .macI{
    opacity: 0;
}
.lbHoverI{
    position: absolute;
    bottom: 10px;
    background: url(images/storage_break_large.png) no-repeat center center / contain;
    width: 100%;
    height: 90%;
    opacity: 0;
    transition: all 1s ease-in-out;
}
#leftBottom:hover{
    background-color: #101010;
}
#leftBottom:hover .lbHoverI, #leftBottom:hover .lbHoverT{
    opacity: 1;
}
.lbHoverT{
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(50%);
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.lbHoverT span{
    display: block;
    margin-bottom: 20px;
}
#rightBottom{
}
.watch{
    background: url(images/hero_large.jpg) no-repeat center center / cover;
    width: 100%;
    height: 100%;
}
    @media screen and (max-width: 768px) and (min-width: 413px){
        #firstFloor article{
            width: 100%;
            height: 50vh;
            overflow: hidden;
            position: relative;
        }
        #leftTop{
            background: #f2f2f2;  
        }
        .tpImage{
            background: url(images/apps_top_medium.png) no-repeat center center / contain;
            transform: translateX(-50%);
        }
        .bpImage{
            background: url(images/apps_medium.png) no-repeat center center / contain;
            transform: translateX(10%);
        }
        #leftTop:hover .tpImage, #leftTop:hover .bpImage{
            transform: none;
        }
        .ltHoverI, #leftTop:hover .ltHoverI{
            display: none;
        }    
        .ltHoverT{
            position: absolute;
            top: 50%;
            right: 3%;
            padding-right: 0px;
            padding-bottom: 0px;
            z-index: 100;
            text-align: right;
            font-size: 32px;
            font-weight: bold;
            transition: all 1s ease-in-out;
        }
#rightTop{
}
.ios11T{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 6px 3px 8px #b3b3b3, 10px 15px 10px #f5f5f5;
    background-color: transparent;
    padding-top: 2%;
    opacity: 1;
    transition: all 1s ease-in-out;
}
#rightTop:hover .ios11T{
    text-shadow: none;
    top: 30%;
}
.ios11I{
    background: url(images/image_xlarge.jpg) no-repeat center center / cover;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    transform: translate(0,0) scale(1);
    transition: all 1s ease-in-out;
}
#rightTop:hover .ios11I{
    transform: translate(0,0) scale(2);
    opacity: .69;
}
.rtHoverT{
    position: absolute;top: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.step{
    z-index: 11;
    display: inline-block;
    background: url(images/step.gif) no-repeat center center / contain;
    width: 100px;
    height: 70px;
    margin-bottom: -25px;
}
.rtHoverT a, .rtHoverT ins{
    display: inline-block;
    font-size: 18px;
    color: #0070c9;
    width: 100%;
    padding-bottom: 20px;
}
#rightTop:hover .rtHoverT{
    top: 50%;
    opacity: 1;
}
#leftBottom{
    background: #1a1a1a;
}
.macI{
    position: absolute;
    bottom: 10px;
    background: url(images/179.png) no-repeat center center / contain;
    width: 100%;
    height: 90%;
    opacity: 1;
    transition: all 1s ease-in-out;
}
#leftBottom:hover .macI{
    opacity: 0;
}
.lbHoverI{
    position: absolute;
    bottom: 10px;
    background: url(images/storage_break_large.png) no-repeat center center / contain;
    width: 100%;
    height: 90%;
    opacity: 0;
    transition: all 1s ease-in-out;
}
#leftBottom:hover{
    background-color: #101010;
}
#leftBottom:hover .lbHoverI, #leftBottom:hover .lbHoverT{
    opacity: 1;
}
.lbHoverT{
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(50%);
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.lbHoverT span{
    display: block;
    margin-bottom: 20px;
}
#rightBottom{
}
        .watch{
            background: url(images/hero_large.jpg) no-repeat center center / cover;
            width: 100%;
            height: 100%;
        }
    }
#secondFloor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: rgba(0,0,0,1);
    overflow: hidden;
}
#secondFloor:before{
    content: "";
    width: 100%;
    height: 100vh;
    background: url(images/wwdc17_event_large.png) repeat center center;
    opacity: .4;
    position: absolute;
}
#secondFloor h2{
    position: relative;
    text-align: center;
    font-size: 32px;
    font-size: 40px;
    color: white;
}
#secondFloor > div{
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#secondFloor > div article{
    position: relative;
    width: calc(30%);
    height: 100%;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
#secondFloor article:nth-child(2){
    margin: 0 2%;
}
.newsImage{
    height: 60%;
}
.newsHead{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 1.2vw;
}
#secondFloor span{
    display: block;
}
#news1 .cat, #news3 .cat{
    color: #10C1E1;
}
#news2 .cat{
    color: #FFA955;
}
.title{
    font-size: 1.5em;
    font-weight: bold;  
}
#news1, #news3{
    background-color: white;
}
#news2{
    background-color: #111;
}
#news2 span{
    color: white;
}
#news2 cat{
    color: #FFA955;
}
#news1 .newsImage{
    background: url(images/wwdc_design_awards_2017_full.jpg.small.jpg) no-repeat center center / cover;
}
#news2 .newsImage{
    background: url(images/wwdc_sj_keynote_tim_cook_opening_full.jpg.large.jpg) no-repeat center center / cover;
}
#news3 .newsImage{
    background: url(images/appstore_banner_hello_full.png) no-repeat left center / cover; 
}
footer{
    width: 100%;
    height: inherit;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}
.shop{
    border-bottom: 1px solid #d6d6d6;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.shop span{
    display: block;
}
.shop span:first-child a{
    color: #0070c9;
}
.shop span:last-child a{
    
}
.legal nav {
    display: inline-block;
    font-size: .8vw;
    font-weight: 600;
}
.legal nav ul li{
    float: left;
    padding: 0 10px;
}
.legal nav ul li:first-child{
    padding-left: 0;
}
.legal small{
    display: block;
}
.licensee span{
    white-space: nowrap;
    font-size: 0.8vw;
}