*{ margin: 0; padding: 0;}
li{ list-style: none;}
a{ text-decoration: none; color: #222;}
input[type="checkbox"]{ display: none;}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #eac0aa, #d2c0ac 7%, #2fbdb9 50%, #1a989d 70%, #023545);
    display: flex;
}
header > nav{
    align-self: center;
    width: 10%;
}
header > nav ul li a{
    color: white;
    margin: 30px 0;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > nav ul li span{
    display: inline-block;
}
.line{
    width: 15%;
    border: 2px solid white;
}
.navi{
    width: 50px;
    height: 50px;
}
.icon1{
    background: url(images/macbook_dark_large.svg) no-repeat center center / contain;
}
.icon2{
    background: url(images/ipad_large.svg) no-repeat center center / contain;
}
.icon3{
    background: url(images/iphone7_dark_large.svg) no-repeat center center / contain;
}
.icon4{
    background: url(images/watch_nav_series_2_large.svg) no-repeat center center / contain;
}
.icon5{
    background: url(images/apple_music_dark_large.svg) no-repeat center center / contain;
}
.icon6{
    background: url(images/large-promo-repair-icon_2x.svg) no-repeat center center / contain;
}
.icon7{
    background: url(images/search_large.svg) no-repeat center center / contain;
}
.mainLogo{
    align-self: center;
    width: 80%;
    margin-top: -50px;
    display: flex;
    flex-flow: column;
}
.mlImage{
    display: block;
    width: 170px;
    height: 170px;
    margin: 10px auto;
    background: url(images/Apple_logo_white.png) no-repeat center center;
}
.mainLogo div{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.mltext{
    font-family: 'Spoqa Han Sans';
    display: inline-block;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.different{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(255,255,255,.9);   
}
.different b{
    border-radius: 10px;
    animation: tGradation 20s linear infinite;
    background: linear-gradient(90deg, rgba(150,48,30,1) 0%,rgba(199,201,88,1) 10%,rgba(28,147,46,1) 20%,rgba(74,165,168,1) 30%,rgba(89,90,165,1) 40%,rgba(84,16,67,1) 50%,rgba(28,58,63,1) 60%,rgba(82,175,183,1) 70%,rgba(78,170,76,1) 80%,rgba(150,48,30,1) 90%,rgba(199,201,88,1) 100%);
    background-size: 1000% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes tGradation{
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
.bag{
    cursor: pointer;
    width: 10%;
    height: 100px;
    background: url(images/shopping-bag.svg) no-repeat center center;
    background-size: 36px; 
}
@media only screen and (max-width: 768px) and (min-width: 321px){
    header > nav{
        height: 100vh;
    }
    .menu-open-button{
        z-index: 11;
        position: absolute;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        transition: transform ease-out 0.2s;
        cursor: pointer; 
    }
    .lines{
        position: absolute;
        top: 50%;
        left: 25%;
        width: 40px;
        height: 5px;
        background: #fff;
        display: block;
        transition: transform ease-out 0.2s;
    }
    .line-1{
        transform: translate(0,-12px);
    }
    .line-2{
        transform: translate(0,0);
    }
    .line-3{
        transform: translate(0,12px);
    }
    #mobileNav:checked ~ .menu-open-button .line-1{
        transform: translate(0,0) rotate(45deg); 
    }
    #mobileNav:checked ~ .menu-open-button .line-2{
        transform: translate(0,0) scale(.1,1); 
    }
    #mobileNav:checked ~ .menu-open-button .line-3{
        transform: translate(0,0) rotate(-45deg); 
    }
    header > nav ul{
        position: absolute;
        width: 0vw;
        height: 0vh;
        background: rgba(0,0,0,.7);
        z-index: 10;
        padding-top: 45px;
        padding-left: 20px;
        overflow: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    #mobileNav:checked ~ ul{
        opacity: 1;
        width: 50vw;
        height: 100vh;
        box-sizing: border-box;
    }
    header > nav ul li{
        height: 8vh;
    }
    header > nav ul li a{
        position: relative;
        width: 45vw;
        border-bottom: 1px solid white;
        padding-bottom: 2px;
        margin: 20px 0;
        justify-content: flex-end;
    }
    .line{
        display: none;
    }
    .navi{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .nvText{
        white-space: nowrap;
        font-size: 22px;
        margin-left: 15px;
    }
    .mlImage{
        width: 150px;
        height: 150px;
        background: url(images/Apple_logo_white.png) no-repeat center center / contain;
    }
    .mainLogo div{
        width: 50vw;
        text-align: center;
        margin: 0 auto;
    }
    .mltext{
    font-family: 'Spoqa Han Sans';
    display: inline-block;
    color: white;
    font-size: 10vw;
    }
    .bag{
        width: 80px;
        height: 80px;
        background-size: 40%; 
    }
}
@media only screen and (max-width: 320px){
    header > nav{
        height: 100vh;
    }
    .menu-open-button{
        z-index: 11;
        position: absolute;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        transition: transform ease-out 0.2s;
        cursor: pointer; 
    }
    .lines{
        position: absolute;
        top: 50%;
        left: 25%;
        width: 30px;
        height: 3px;
        background: #fff;
        display: block;
        transition: transform ease-out 0.2s;
    }
    .line-1{
        transform: translate(0,-8px);
    }
    .line-2{
        transform: translate(0,0);
    }
    .line-3{
        transform: translate(0,8px);
    }
    #mobileNav:checked ~ .menu-open-button .line-1{
        transform: translate(0,0) rotate(45deg); 
    }
    #mobileNav:checked ~ .menu-open-button .line-2{
        transform: translate(0,0) scale(.1,1); 
    }
    #mobileNav:checked ~ .menu-open-button .line-3{
        transform: translate(0,0) rotate(-45deg); 
    }
    header > nav ul{
        position: absolute;
        width: 0%;
        height: 0vh;
        background: rgba(0,0,0,1);
        z-index: 10;
        padding-top: 80px;
        padding-left: 20px;
        overflow: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    #mobileNav:checked ~ ul{
        opacity: 1;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    header > nav ul li a{
        position: relative;
        width: 85%;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
    }
    .line{
        display: none;
    }
    .navi{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .nvText{
        white-space: nowrap;
        font-size: 22px;
    }
    .mlImage{
        width: 120px;
        height: 120px;
        background: url(images/Apple_logo_white.png) no-repeat center center / contain;
    }
    .mainLogo div{
        width: 50vw;
        text-align: center;
        margin: 0 auto;
    }
    .mltext{
    font-family: 'Spoqa Han Sans';
    display: inline-block;
    color: white;
    font-size: 10vw;
    }
    .bag{
        width: 80px;
        height: 80px;
        background-size: 40%; 
    }
}
#firstFloor{
    width: 100%;
    height: 100vh;
}
#firstFloor article{
    width: 50%;
    height: 50vh;
    float: left;
    overflow: hidden;
    position: relative;
}
#firstFloor article a{
    width: 100%;
    height: 50vh;
    float: left;
}
#leftTop{
    background: #f2f2f2;  
}
.lt{
    margin: 0 auto;
    left: 0;
    right: 0;
}
.topIpad{
    width: 50%;
    height: inherit;
    position: absolute;
    z-index: 10;
}
.botIpad{
    width: 50%;
    height: inherit;
    position: absolute;
}
#leftTop span{
    display: block;
    width: 100%;
    height: inherit;
    transition: all 1s ease-in-out;
}
.tpImage{
    background: url(images/apps_top_medium.png) no-repeat center center / contain;
    transform: translateX(-30%);
}
.bpImage{
    background: url(images/apps_medium.png) no-repeat center center / contain;
    transform: translateX(30%);
}
#leftTop:hover .tpImage{
    transform: translate(-200%);
}
#leftTop:hover .bpImage{
    transform: translate(200%);
}
.ltHoverI{
    background: url(images/hero_medium.jpg) no-repeat center center;
    background-color: rgba(255,255,255,.5);
    width: 100%;
    height: inherit;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
}
#leftTop:hover .ltHoverI{
    opacity: 1;
    transform: translateY(0);
}
.ltHoverT{
    text-align: center;
    padding-right: 300px;
    padding-bottom: 55px;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    transform: translateY(0%);
    transition: all 1s ease-in-out;
}
#leftTop:hover .ltHoverT{
    transform: translateY(-100%);
}
#rightTop{
}
.ios11T{
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 6px 3px 8px #b3b3b3, 10px 15px 10px #f5f5f5;
    background-color: transparent;
    padding-top: 2%;
    opacity: 1;
    transform: translate(0,0);
    transition: all 1s ease-in-out;
    transition-timing-function: cubic-bezier(0.175, 0.885,0.32,1.275);
}
#rightTop:hover .ios11T{
    text-shadow: none;
    transform: translate(0,10px);
}
.ios11I{
    background: url(images/image_xlarge.jpg) no-repeat center center / cover;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    opacity: 1;
    transform: translate(0,0);
    transition: all 1s ease-in-out;
}
#rightTop:hover .ios11I{
    opacity: .9;
    filter: blur(2px);
}
.rtHoverI{
    position: absolute;
    top: 0;
    background: url(images/2017060817088042813_2.png) no-repeat center center / cover;
    filter: blur(2px);
    opacity: .1;
    width: 100%;
    height: inherit;
    opacity: 0;
    transform: scale(1);
    transition: all 1s ease-in-out;
}
#rightTop:hover .rtHoverI{
    opacity: 1;
    transform: scale(1.5);
}
.rtHoverT{
    position: absolute;
    bottom: -100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.step{
    z-index: 11;
    display: inline-block;
    background: url(images/step.gif) no-repeat center center / contain;
    width: 100px;
    height: 70px;
    margin-bottom: -25px;
}
.rtHoverT ins{
    display: inline-block;
    font-size: 18px;
    color: #0070c9;
    width: 100%;
    padding-bottom: 20px;
}
#rightTop:hover .rtHoverT{
    bottom: 20%;
    opacity: 1;
}
#leftBottom{
    background: #101010;
}
.mac{
    background: url(images/display_break_large.jpg) no-repeat center center / contain;
    width: 100%;
    height: inherit;
}
#rightBottom{
}
.sierra{
    background: url(images/hero_sierra.jpg) no-repeat center center / contain;
    width: 100%;
    height: inherit;
}
@media only screen and (max-width: 768px) and (min-width: 321px){
    #firstFloor article{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
    }
    #firstFloor article a{
        width: 100%;
        height: 50vh;
        color: #333;
    }
}
@media only screen and (max-width: 321px){
    #firstFloor article{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
    }
    #firstFloor article a{
        width: 100%;
        height: 50vh;
        color: #333;
    }
}
#secondFloor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: rgba(0,0,0,1);
    overflow: hidden;
}
#secondFloor:before{
    content: "";
    width: 100%;
    height: 100vh;
    background: url(images/wwdc17_event_large.png) repeat center center;
    opacity: .4;
    position: absolute;
}
#secondFloor h2{
    position: relative;
    text-align: center;
    font-size: 32px;
    font-size: 40px;
    color: white;
}
#secondFloor > div{
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#secondFloor > div article{
    position: relative;
    width: calc(30%);
    height: 100%;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
#secondFloor article:nth-child(2){
    margin: 0 2%;
}
.newsImage{
    height: 60%;
}
.newsHead{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 1.2vw;
}
#secondFloor span{
    display: block;
}
#news1 .cat, #news3 .cat{
    color: #10C1E1;
}
#news2 .cat{
    color: #FFA955;
}
.title{
    font-size: 1.5em;
    font-weight: bold;  
}
#news1, #news3{
    background-color: white;
}
#news2{
    background-color: #111;
}
#news2 span{
    color: white;
}
#news2 cat{
    color: #FFA955;
}
#news1 .newsImage{
    background: url(images/wwdc_design_awards_2017_full.jpg.small.jpg) no-repeat center center / cover;
}
#news2 .newsImage{
    background: url(images/wwdc_sj_keynote_tim_cook_opening_full.jpg.large.jpg) no-repeat center center / cover;
}
#news3 .newsImage{
    background: url(images/appstore_banner_hello_full.png) no-repeat left center / cover; 
}
@media only screen and (max-width: 768px) and (min-width: 321px){
    #secondFloor > div{
        width: 85%;
        height: 85%;
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    #secondFloor > div article{
        width: 100%;
        height: 31%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }
    #secondFloor article:nth-child(2){
        margin: 0;
    }
    .newsImage{
        width: 70%;
        height: 100%;
    }
    .newsHead{
        position: absolute;
        bottom: 0;
        left: 70%;
        width: 30%;
        height: 100%;
        font-size: 16px;
    }
    #news1 .title{
        font-size: 2.9vw; 
    }
    #news2 .title{
        font-size: 3.4vw; 
    }
    #news3 .title{
        font-size: 3.3vw; 
    }
}
footer{
    width: 100%;
    height: inherit;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}
.shop{
    border-bottom: 1px solid #d6d6d6;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.shop span{
    display: block;
}
.shop span:first-child a{
    color: #0070c9;
}
.shop span:last-child a{
    
}
.legal nav {
    display: inline-block;
    font-size: .8vw;
    font-weight: 600;
}
.legal nav ul li{
    float: left;
    padding: 0 10px;
}
.legal nav ul li:first-child{
    padding-left: 0;
}
.legal small{
    display: block;
}
.licensee span{
    white-space: nowrap;
    font-size: 0.8vw;
}
@media only screen and (max-width: 768px) and (min-width: 321px){
    .shop span{
        font-size: 2vw;
    }
    .legal nav {
        font-size: 1.7vw;
        font-weight: 600;
    }
    .legal small{
        font-size: 1.6vw;
    }
    .licensee span{
        font-size: 1.9vw;
    }
}