
#firstFloor article{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
    }
    #firstFloor article a{
        width: 100%;
        height: 50vh;
        color: #333;
    }
    #leftTop:active .tpImage{
        transform: translate(-200%);
    }
    #leftTop:active .bpImage{
        transform: translate(200%);
    }
    #leftTop:active .ltHoverI{
        opacity: 1;
        transform: translateY(0);
    }
    #leftTop:active .ltHoverT{
        transform: translateY(-100%);
    }
#secondFloor > div{
        width: 85%;
        height: 85%;
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    #secondFloor > div article{
        width: 100%;
        height: 31%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }
    #secondFloor article:nth-child(2){
        margin: 0;
    }
    .newsImage{
        width: 70%;
        height: 100%;
    }
    .newsHead{
        position: absolute;
        bottom: 0;
        left: 70%;
        width: 30%;
        height: 100%;
        font-size: 16px;
        box-sizing: border-box;
        padding: 10px;
    }
    #news1 .title{
        font-size: 2.9vw; 
    }
    #news2 .title{
        font-size: 3vw; 
    }
    #news3 .title{
        font-size: 2.9vw; 
    }
.shop span{
        font-size: 2vw;
    }
    .legal nav {
        font-size: 1.7vw;
        font-weight: 600;
    }
    .legal small{
        font-size: 1.6vw;
    }
    .licensee span{
        font-size: 1.9vw;
    }