@font-face {
    font-family: 'SFProKR_bold';
    src: url('../font/SFProKR_bold.woff') format('woff');  
}
@font-face {
    font-family: 'SanFranciscoDisplay-Black';
    src: url('../font/SanFranciscoDisplay-Black.otf') format('otf');  
}