@font-face {
    font-family: 'SFProKR_bold';
    src: url('https://github.com/pino345/webFont/blob/master/SFProKR_bold.woff') format('woff');  
}
@font-face {
    font-family: 'SanFranciscoDisplay-Black';
    src: url('https://github.com/pino345/webFont/blob/master/SanFranciscoDisplay-Black.otf') format('otf');  
}